* {
  padding: 0;
  margin: 0;
  border: 0;
}


*,*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


:focus,:active {
  outline: none;
}

a:focus,a:active {
  outline: none;
}


nav,footer,header,aside {
  display: block;
}


html,body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


input,button,textarea {
  font-family: inherit;
}


input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: 400;
}







.font {
	font-family: 'Courier Prime', monospace;
}

.wrapper {
	max-width: 1920px;
}

.main_block {
		display: flex;
}

.day_sorting_block {
	display: flex;
	min-height: 800px;
	width: 15%;
	background-color: #B3D1EE;
	padding-top: 1.5%;
}

.sort_list {
	margin: 20px 0px 0px 10%;
}

.sort_title {
	margin: 0px;
	font-size: 24px;
}

ul{
	margin: 8px;
	padding-inline-start: 20px;
}

.sort_element {
	margin: 0px;
	font-size: 18px;
}

.table_block {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 85%;
	min-height: 600px;
	height: 800px;
	max-height: 800px;
	background-color: #C4C4C4;
}

.table {
	height: 90%;
	width: 90%;
	background-color: #F6F6F6;
}

.table_title_block {
	display: flex;
	height: 10%;
}

.table_column_title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 33.34%;
	border: 2px solid black;
}

.table_title {
	font-size: 24px;
}

.table_elements_block {
	display: flex;
	height: 90%;
}

.table_element {
	width: 33.34%;
	display: block;
	border: 2px solid black;
	padding-top: 3%;
	padding-bottom: 3%;
	overflow-y: auto;
}

.task_block {
	height: 25%;
	width: 90%;
	margin: 0 auto 20%;
	padding: 5%;
	border: 2px solid black;
}

.task_block_top_part {
	height: 30%;
}

.task_block_title {
	width: 80%;
	float: left;
	font-size: 22px;
	font-weight: 700;
}

.task_block_bottom_part {
	margin-top: 3%;
	height: 70%;
}

.task_block_text {
	font-size: 16px;
	width: 80%;
	float: left;
}

.detail_button_block {
	display: flex;
	height: 100%;
	align-items: flex-start;
	transform: rotate(180deg);
}

.plus {
   width: 50px;
   height: 50px;
   position: relative;
   margin: 0 auto;
}

.plus:before, .plus:after {
  content: "";
  position: absolute;
  z-index: 1;
  background: #000000;
}

.plus:before {
  left: 50%;
  width: 10%;
  margin-left: -5%;
  height: 100%;
}

.plus:after {
  top: 50%;
  left: 0%;
  height: 10%;
  margin-top: -5%;
  width: 100%;
}

.plus:hover {
	width: 54px;
	height: 54px;
}

.delete_button {
	height: 25px;
	width: 25px;
	float: right;
	transform: rotate(45deg);
}

.delete_button:hover {
	height: 27px;
	width: 27px;
}

.details_button {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #000000;
	border-bottom: 10px solid transparent;
	transform: rotate(180deg);
}